{%include 'header.html'%}


<body>
  {% if error %}
  <p><strong>Error:</strong> {{ error }}
  {% endif %}
<div class="container mt-3">
  <h2>Login form</h2>
  <form action="/afterlogin" method="post">
    <div class="mb-3 mt-3">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="mb-3">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <a href="reg">student Register</a>
</div>

</body>
</html>
{%include 'footer.html'%}
